.display-wrapper {
	width: 400px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end ; 
	flex-direction: column;
	background-color: rgb(178, 230, 243);
	padding: 5px;
	border:none;
	box-sizing: border-box;
	height:150px;
	
	

	
}

